<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <!-- Load Bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.1/css/bootstrap.min.css"
      integrity="sha512-6KY5s6UI5J7SVYuZB4S/CZMyPylqyyNZco376NM2Z8Sb8OxEdp02e1jkKk/wZxIEmjQ6DRCEBhni+gpr9c4tvA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <h1 class="heading-lg text-center custom-header">Tech Blog</h1>
      <nav class="navbar navbar-expand-lg custom-navbar">
        <a class="navbar-brand" href="#"></a>
        <button
          class="navbar-toggler navbar-dark"
          type="button"
          data-toggle="collapse"
          data-target="#navbar"
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <a class="navbar-toggler-icon"></a>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/">Home</a>
            {{#if logged_in}}
            <a class="nav-item nav-link" href="/api/dash">Dashboard</a>
            <a class="nav-item nav-link" href="#" id="logoutBtn">Logout</a>
            {{else}}
            <a class="nav-item nav-link" href="/login">Login</a>
            {{/if}}
          </div>
        </div>
      </nav>
    </header>
    <main class='container-fluid'>
      {{{body}}}
    </main>

  </body>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
  ></script>
</html>