{{#each dashData as |dash|}}
   <div class="card mt-4 custom-card">
      <div class="card-header custom-card-header">
        <h3>{{dash.title}}</h3>
        <button id="delPost" class="btn btn-danger">Delete</button>
      </div>
    </div>

{{/each}}
