<section>
    <div class="card mt-4">
    <h3 class="card-header custom-card-header">Sign Up</h3>
    <div class="card-body">
      <a id="lnkSignupLogin" href="/login">Already have an Account ?</a>
      <form>
        <div class="form-group mt-2">
          <label for="signupName">Name</label>
          <input type="input" class="form-control" id="signupName" aria-describedby="signupHelp" placeholder="Enter name">
        </div>
        <div class="form-group mt-3">
          <label for="signupEmail">Email address</label>
          <input type="email" class="form-control" id="signupEmail" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group mt-3">
          <label for="signupPassword">Password</label>
          <input type="password" class="form-control" id="signupPassword" placeholder="Password">
        </div>
        <button id="signupSubmit" type="submit" class="btn btn-primary mt-4">Submit</button>
      </form>
    </div>
</section>
<script src="/js/signup.js"></script>