:root {
  --chalk: #fbf7f5;
  --khaki: #d4c69e;
  --greenButton: #036d1a;
  --darkCharcoal: #33320b;
  --textBlack: #0c0c0c;
  --modalcharcoal: #111109ce;
  --brown: #a88f82;
  --tan: #f5e1d5;
  --teal: #71a8a7;
  --lightteal: #d5f5f5;
  --light: #fffaf7;
  --pink: #f8f0f0;
  --blue: #2f3c7e;
  --darkGrey: #3d3d3d;
  --lightGrey: #8d8d8d;
}

::selection {
  color: var(--brown);
  background-color: var(--light);
}

a {
  text-decoration: none;
  color: var(--chalk);
}

.custom-navbar {
  background-color: var(--darkGrey);
}

.custom-navbar a {
  font-size: 1.5rem;
  color: var(--chalk);
}

a:hover {
  color: var(--darkGrey);
}
.custom-navbar a:hover {
  color: var(--lightGrey);
}
#lnkSignupLogin {
  color: var(--blue);
  text-decoration: underline;
}
.custom-card {
  color: var(--textBlack);
  background-color: var(--chalk);
  border-color: var(--lightGrey);
  justify-content: space-between;
}

.custom-card-header {
  background-color: var(--lightGrey);
  color: var(--chalk);
  display: flex;
  justify-content: space-between;
}
.custom-left-padding {
  padding-left: 50px;
}
.custom-text-end {
  text-align: right;
}
.custom-card-body {
  color: var(--blue);
  background-color: var(--pink);
}
